<div class="container">
    <div class="jumbotron">
        <h1><img src="https://bit.ly/2E1b76l" width="300px"></h1>
        <p class="git">"A search engine for github-accounts. Go ahead and try"</p>
    </div>
</div>
<form action="" class="enter">
    <div class="form-group ">
        <input type="text" placeholder="Enter github's username...." class="form-control">

    </div>
</form>
<div class='row'>
    <div class="col-sm-6">
        <div>
            <hr>
            <p>
                <span class="label" class="btn btn-success"> Followers</span>;

                <span class="label" class="btn btn-info"> Following </span>;

                <span class="label" class="btn btn-primary"> Repositories</span>
            </p>
            <hr>
            
        </div>

    </div>
</div>